#SceneSceneMainSugestions {
	position : absolute;
	left : 0px;
	top : 0px;
	width : 1280px;
	height : 720px;
	font-family: 'Open Sans', sans-serif;
	background-color: rgba(10,10,10,1);
	background-image : url('');

}

#movies {
	margin-top: -15px;
}

#bottom {
	width: 100%;
	position: absolute;
	bottom: -20px;
}

/*html, body {
	width: 100%;
	height: 100%;
	font-family: 'Open Sans', sans-serif;
	background-color: green;
}*/

.big-sugestion {
	margin: 0;
	margin-bottom:20px;
}

.small-sugestions-row {
	magin-left:50px;
}

#movies img {
	width: 100%;
	margin-top: 10px;
}

#movies .panel {
	background-color: red;
	color: white;
}

#movies .selected img {
	-webkit-box-shadow: 0px 0px 0px 5px rgba(214,74,50,1);
	-moz-box-shadow: 0px 0px 0px 5px rgba(214,74,50,1);
	box-shadow: 0px 0px 0px 5px rgba(214,74,50,1);
}
