#SceneSceneNewReleases {
	position : absolute;
	left : 0px;
	top : 0px;
	width : 1280px;
	height : 720px;
	background-color : rgba(10,10,10,1);
	background-image : url('');
}

#topNR {
	background-color: red;	
	margin-bottom: 35px;
}

#bottomNR {
	width: 100%;
	position: absolute;
	bottom: -20px;
}

.moviegal{
	padding: 6px;
	margin-right: 10px;
	margin-top: 6px;
}
.fixa{
	
	position : absolute;
	/*top: -35px;*/
	
}
#moviesNR img {
	width: 95%;
	margin-top: 6px;
}
#moviesNR{
	overflow: hidden;
	width:1280px;
	height:720px;
}

.buttons span{
	font-size: 50px;
	color:white;
	
}

.buttons{
	margin-left: auto;
    margin-right: auto;
    width: 6em;
}

#godown{
	position: absolute;
	bottom: 50px;
	left:600px;
}



#moviesNR .selected img {
	-webkit-box-shadow: 0px 0px 0px 5px rgba(214,74,50,1);
	-moz-box-shadow: 0px 0px 0px 5px rgba(214,74,50,1);
	box-shadow: 0px 0px 0px 5px rgba(214,74,50,1);
}

#goup.selected{
	-webkit-box-shadow: 0px 0px 0px 5px rgba(214,74,50,1);
	-moz-box-shadow: 0px 0px 0px 5px rgba(214,74,50,1);
	box-shadow: 0px 0px 0px 5px rgba(214,74,50,1);
}

#godown.selected{
	-webkit-box-shadow: 0px 0px 0px 5px rgba(214,74,50,1);
	-moz-box-shadow: 0px 0px 0px 5px rgba(214,74,50,1);
	box-shadow: 0px 0px 0px 5px rgba(214,74,50,1);
}
